.table-container {
    width: 90%;
    margin: 2% auto;
}

.mat-footer-row {
  .mat-row {
    height: 0px;
  }

}

.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
}

.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.element-description {
    padding: 16px;
    text-align: left;
}

.handle {
    margin: auto;
    text-align: left;
}
