.table-container {
    width: 90%;
    margin: 2% auto;
    text-align: left;
}

.mat-cell,
.mat-header-cell {
    padding: 0 8px;
}

.mat-row {
    padding: 10px;
}

.detail-row {
    padding: 0;
}

.mat-footer-row,
.mat-row {
    min-height: 0;
}

.mat-header-cell {
    padding: 0 10px;
}

.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
}

.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.element-description {
    padding: 16px;
    text-align: left;
}

.handle {
    margin: auto;
    text-align: left;
}
