.close-icon {
    float: right;
    border-radius: 8px;
}

.close-icon:hover {
    cursor: pointer;
    float: right;
}

.button-done {
    float: right;
}

.button-done:hover {
    background-color: #ffc107;
    color: #ffffff;
}

.dialog-container {
    width: 100%;
    margin: 2% auto;
}

mat-dialog-content {
    word-break: break-all;
}
