.table-container {
    width: 70%;
    margin: 2% auto;
    text-align: left;
}

.title {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: inherit;
    margin: 0;
}

.title-desc {
    font-family: 'Raleway', sans-serif;
    margin-top: -4px;
}

.create-div {
    width: 70%;
    margin: 2% auto;
    display: flex;
    justify-content: flex-end;
}

.mat-column-idea {
    font-size: 18px;
}

.mat-column-date {
    flex: 0 0 15%;
    align-content: center;
}

.mat-column-read {
    flex: 0 0 100px;
    padding: 0 10px;
    margin: 0 auto;
}

.create-story {
    padding: 5px 10px;
    background-color: #ffc107;
    color: #ffffff;
    font-weight: bolder;
}

.read:hover {
    background-color: #ffc107;
    color: #ffffff;
}

mat-table {
    font-size: 120%;
    line-height: 150%;
    color: #222;
    word-break: break-word;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}

mat-row {
    padding: 1% 0;
}

mat-row:hover {
    background: #d5ffd1;
}

mat-row:active {
    background: #9eef99;
}

mat-header-row {
    background-color: #4caf50;
}

mat-header-cell {
    color: #ffffff;
    font-weight: bold;
    font-size: medium;
}

@media only screen and (min-width: 1145px) {
    .mat-column-date {
        flex: 0 0 10%;
    }

    .mat-column-idea {
        padding: 0 10px;
        flex: 0 0 70%;
        word-break: break-word;
    }

    .mat-column-read {
        flex: 0 0 100px;
        padding: 0 10px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 900px) {
    .table-container {
        width: 90%;
        margin: 2% auto;
        text-align: left;
    }
    .create-div {
        width: 90%;
        margin: 2% auto;
        display: flex;
    }
    .mat-column-date {
        flex: 0 0 15%;
        padding-left: 10px;
        align-content: center;
    }
    .mat-column-read {
        flex: 0 0 100px;
        padding: 0 10px;
        margin: 0 auto;
    }
}
