mat-list-item {
    text-align: center;
}

#HomePageInfo {
    background-color: #ffffff;
}

.video-title {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    padding-bottom: 2%;
    font-family: 'Arial Bold', 'Arial Regular', 'Arial';
}

#DeedsVideo {
    padding: 2% 20%;
}
h4 {
    padding: 3% 30% 0 20%;
    font-family: Arial;
    text-align: left;
}

.img-icon {
    width: 80px;
    height: 80px;
}

.question-text {
    font-weight: bold;
    float: left;
    padding-left: 5%;
    font-family: 'Arial Bold', 'Arial Regular', 'Arial';
    font-size: 50px;
    color: #222222;
}

.square {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    margin-top: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.text-block {
    text-align: left;
    font-size: 120%;
    font-family: 'Arial Bold', 'Arial Regular', 'Arial';
    padding-right: 11%;
    line-height: 150%;
    color: #222222;
}

.main-text {
    display: block;
    padding: 3% 25% 3% 25%;
    text-align: center;
    font-size: 120%;
    font-family: 'Arial Bold', 'Arial Regular', 'Arial';
    line-height: 150%;
    color: #222222;
}

.line-divider {
    width: 50%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

mat-grid-list {
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 1020px) {
    mat-grid-list {
        padding-top: 0;
    }

    .line-divider {
        display: none;
    }

    .text-block {
      text-align: center;
      font-size: medium;
    }

    .main-text{
      font-size: medium;
    }

    .question-text {
      font-size: x-large;
    }
}

.filler-div {
    height: 5%;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#u43_img {
  margin-left: 7%;
}

.arrow-text {
  font-family: 'Arial Bold', 'Arial Regular', 'Arial';
  padding-top: 2%;
  color: #969eaa;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.space {
  padding-top: 50px;
}
