<div id="header">
    <div id="title"><h3>Participants</h3></div>
    <div id="close">
        <mat-icon class="close-icon" (click)="done()">
            close
        </mat-icon>
    </div>
</div>

<div class="dialog-container">
    <mat-dialog-content>
        <ol [hidden]="!data.job.team">
            <li>{{ data.job.organizator.name }} {{ data.job.organizator.surname }} (Team lead)</li>
            <li *ngFor="let participant of data.job.team">{{ participant.name }} {{ participant.surname }}</li>
        </ol>
      <img [src]="element.images[0]" >
    </mat-dialog-content>

    <mat-dialog-actions align="end" *ngIf="!data.job.isUserInTeam && data.loggedIn">
        <button mat-raised-button class="button-done" (click)="join()">Join</button>
    </mat-dialog-actions>
</div>
