.close-icon {
    float: right;
    border-radius: 8px;
}

.close-icon:hover {
    cursor: pointer;
    float: right;
}

.button-done {
    float: right;
}

.button-done:hover {
    background-color: #FFC107;
    color: #FFFFFF;
}

.dialog-container {
    width: 100%;
    margin: 2% auto;
}
