.close-icon {
  float: right;
  background-color: #caefb8;
  border-radius: 8px;
}

.close-icon:hover {
  cursor: default;
  float: right;
  background-color: #9eef99;
  border-radius: 8px;
}

.button-done {
  display: flex;
  float: right;
}
