<h2 mat-dialog-title>Participants</h2>

<mat-dialog-content>
    <h4><strong>Team lead: </strong></h4>
  <p [hidden]="!data.organizator">{{ data.organizator }}</p>
    <h4><strong>Participants: </strong></h4>
    <ul [hidden]="!data.team">
      <li *ngFor="let participant of data.team; let i = index">
        {{i+1}} {{participant.name}} {{participant.surname}}
      </li>
    </ul>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="done()">Done</button>
</mat-dialog-actions>
