.alert-danger {
    font-size: 120%;
    background-color: #FF00004D;
    width: 30%;
    height: 30%;
    border-radius: 5px;
    margin: auto;
    padding: 0.5%;
}

.alert-success {
    background-color: #54fe784d;
    opacity: 0.3;
    width: 30%;
    height: 50%;
    border-radius: 5px;
    font-size: 120%;
    margin: auto;
}

img {
    width: 10%;
    float: left;
    padding-top: 3%;
    padding-left: 1%;
}
