.registrationBtnBtn {
    min-width: 100px;
    background-color: #008000;
    color: #ffffff;
    float: right;
}

.title {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: inherit;
    margin: 0;
}

.register-btn {
    position: absolute;
    right: 0;
    padding-right: 8%;
    color: #008000;
}

.register-form-field {
    width: 90%;
    min-width: 200px;
    padding: 5px;
}

.authentication-card {
    width: 40%;
    min-width: 250px;
    min-height: 350px;
    padding-top: 2%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    margin: 1% auto auto;
    border: none;
    border-radius: 5%;
    transition: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 1400px) {
    .authentication-card {
        min-height: 700px;
    }
}
