.companyName {
    font-size: 90%;
    font-family: 'Raleway', sans-serif;
}

.mat-toolbar {
    height: 7vh;
    position: fixed;
    top: 0;
    z-index: 999;
}
main {
    padding-top: 0;
    background-color: white;
}

.mat-sidenav-container {
    /*width: 100%;*/
    min-height: 93vh !important;
    background-color: white;
    margin-top: 7vh;
}

.vertical-divider {
    border-top-width: 0;
    border-right-width: 1px;
    border-right-style: solid;
    height: 110%;
}

a {
    text-decoration: none;
    font-size: 80%;
    white-space: normal;
    font-family: 'Raleway', sans-serif;
}

button {
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
    height: 7vh;
    border-bottom: 1.5px solid green;
    background-color: rgba(255, 255, 255, 0.5);
}

.mat-sidenav-content {
    font-size: 100%;
    text-align: center;
    height: 100%;
}

#SummerDeeds {
    background-color: transparent;
    color: black;
}

.GDP {
    font-weight: bold;
}

.navlinks {
    border-bottom: 1px solid green;
    background-color: white;
    height: 7vh;
}

.square {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    margin-top: 3.2%;
    padding-left: 2.9%;
    padding-right: 2.9%;
}

.footer-it-academy {
    float: left;
}

.footer-text {
    float: right;
    display: block;
    width: 50%;
    text-align: right;
}

.footer {
    margin-top: 10%;
}
