<p class="title">JOB REGISTRATION</p>
<mat-card class="authentication-card">
    <form class="jobForm" [formGroup]="jobForm" (ngSubmit)="addJob()">
        <div class="example-container">
            <div>
                <mat-form-field appearance="outline" class="idea-field">
                    <mat-label>Idea</mat-label>
                    <input formControlName="idea" matInput placeholder="" required maxlength="64" />
                    <mat-error *ngIf="jobForm.controls['idea'].invalid && jobForm.controls['idea'].touched">
                        <mat-error *ngIf="jobForm.controls['idea'].hasError('whitespace')">
                            Please enter valid Idea field data, cannot be empty
                        </mat-error>
                        <mat-error *ngIf="jobForm.controls['idea'].hasError('maxlength')">
                            Idea field cannot be longer than {{ jobFormConstants.ideaMaxLength }} characters
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-grid-list cols="2" rowHeight="475px" [cols]="breakpoint" (window:resize)="onResize($event)">
            <mat-grid-tile>
                <div class="example-container">
                    <div class="job-form-field">
                        <mat-form-field appearance="outline" class="grid-tile-field">
                            <mat-label>Organization</mat-label>
                            <input formControlName="organisation" matInput placeholder="" required maxlength="64" />
                            <mat-error
                                *ngIf="jobForm.controls.organisation.invalid && jobForm.controls.organisation.touched"
                            >
                                <mat-error *ngIf="jobForm.controls.organisation.hasError('whitespace')">
                                    Organisation field cannot be empty
                                </mat-error>
                                <mat-error *ngIf="jobForm.controls.organisation.hasError('maxlength')">
                                    Organization field cannot be longer than
                                    {{ jobFormConstants.organizationMaxLength }} characters
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="job-form-field">
                        <mat-form-field appearance="outline" class="grid-tile-field">
                            <mat-label>Region</mat-label>
                            <mat-select formControlName="region" required>
                                <mat-option *ngFor="let region of regions" [value]="region">
                                    {{ region }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="jobForm.controls.region.invalid && jobForm.controls.region.touched">
                                <mat-error
                                    *ngIf="
                                        jobForm.controls.region.hasError('required') ||
                                        jobForm.controls.region.hasError('whitespace')
                                    "
                                >
                                    Region field cannot be empty
                                </mat-error>
                                <mat-error *ngIf="jobForm.controls.region.hasError('maxlength')">
                                    Region field cannot be longer than {{ jobFormConstants.regionMaxLength }} characters
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="job-form-field">
                        <mat-form-field appearance="outline" class="grid-tile-field">
                            <mat-label>Category</mat-label>
                            <mat-select formControlName="category" required>
                                <mat-option *ngFor="let category of categories" [value]="category">
                                    {{ category }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="jobForm.controls.category.invalid && jobForm.controls.category.touched">
                                <mat-error
                                    *ngIf="
                                        jobForm.controls.category.hasError('required') ||
                                        jobForm.controls.category.hasError('whitespace')
                                    "
                                >
                                    Category field cannot be empty
                                </mat-error>
                                <mat-error *ngIf="jobForm.controls.category.hasError('maxlength')">
                                    Category field cannot be longer than
                                    {{ jobFormConstants.categoryMaxLength }} characters
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="job-form-field">
                        <mat-form-field appearance="outline" class="date-input grid-tile-field">
                            <mat-label>Event start date</mat-label>
                            <input
                                readonly
                                matInput
                                [min]="minDate"
                                formControlName="date"
                                [matDatepicker]="picker"
                                (click)="picker.open()"
                                placeholder="Choose a date"
                                required
                            />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker disabled="false" #picker></mat-datepicker>
                            <mat-error *ngIf="jobForm.controls.date.invalid && jobForm.controls.date.touched">
                                <mat-error *ngIf="jobForm.controls.date.hasError('required')">
                                    Date field cannot be empty
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="example-container">
                    <div class="job-form-field job-second-row">
                        <mat-form-field appearance="outline" class="grid-tile-field">
                            <mat-label>Contact person</mat-label>
                            <input formControlName="contactName" matInput placeholder="" required maxlength="64" />
                            <mat-error
                                *ngIf="jobForm.controls.contactName.invalid && jobForm.controls.contactName.touched"
                            >
                                <mat-error
                                    *ngIf="
                                        jobForm.controls.contactName.hasError('required') ||
                                        jobForm.controls.contactName.hasError('whitespace')
                                    "
                                >
                                    Contact person field cannot be empty
                                </mat-error>
                                <mat-error *ngIf="jobForm.controls.contactName.hasError('maxlength')">
                                    Contact person field cannot be longer than
                                    {{ jobFormConstants.contactNameMaxLength }} characters
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="job-form-field">
                        <mat-form-field appearance="outline" class="grid-tile-field">
                            <mat-label>Phone number</mat-label>
                            <input
                                type="number"
                                formControlName="phone"
                                matInput
                                placeholder=""
                                required
                                maxlength="12"
                                onkeydown="return event.keyCode!=69"
                            />
                            <mat-error *ngIf="jobForm.controls.phone.invalid && jobForm.controls.phone.touched">
                                <mat-error
                                    *ngIf="
                                        jobForm.controls.phone.hasError('required') ||
                                        jobForm.controls.phone.hasError('whitespace')
                                    "
                                >
                                    Phone field cannot be empty
                                </mat-error>
                                <mat-error *ngIf="jobForm.controls.phone.hasError('max')">
                                    Phone field cannot be longer than 12 numbers
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="job-form-field">
                        <mat-form-field appearance="outline" class="grid-tile-field">
                            <mat-label>Website</mat-label>
                            <input formControlName="website" matInput placeholder="" maxlength="32" />
                            <mat-hint>Not required</mat-hint>
                            <mat-error *ngIf="jobForm.controls.website.invalid && jobForm.controls.website.touched">
                                <mat-error *ngIf="jobForm.controls.website.hasError('maxlength')">
                                    Website field cannot be longer than
                                    {{ jobFormConstants.websiteMaxLength }} characters
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="job-form-field">
                        <mat-form-field appearance="outline" class="grid-tile-field">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput placeholder="" maxlength="64" />
                            <mat-hint>Not required</mat-hint>
                            <mat-error *ngIf="jobForm.controls.email.invalid && jobForm.controls.email.touched">
                                <mat-error *ngIf="jobForm.controls.email.hasError('maxlength')">
                                    Email field cannot be longer than {{ jobFormConstants.emailMaxLength }} characters
                                </mat-error>
                                <mat-error *ngIf="jobForm.controls.email.hasError('email')">
                                    Not a valid email address
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="example-container">
            <div>
                <mat-form-field appearance="outline" class="description-field">
                    <mat-label>Description</mat-label>
                    <textarea
                        class="textareainput"
                        matInput
                        formControlName="description"
                        placeholder=""
                        maxlength="512"
                        required
                    >
                    </textarea>
                    <mat-error *ngIf="jobForm.controls.description.invalid && jobForm.controls.description.touched">
                        <mat-error
                            *ngIf="
                                jobForm.controls.description.hasError('required') ||
                                jobForm.controls.description.hasError('whitespace')
                            "
                        >
                            Description field cannot be empty
                        </mat-error>
                        <mat-error *ngIf="jobForm.controls.description.hasError('maxlength')">
                            Description field cannot be longer than
                            {{ jobFormConstants.descriptionMaxLength }} characters
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <button class="submit-event-register-button" [disabled]="!jobForm.valid" mat-raised-button type="submit">
                Register
            </button>
        </div>
    </form>
</mat-card>
