.job-form-field {
    padding: 10px 10px 10px 10px;
}

.contact-title {
    padding-left: 10px;
    text-align: left;
}

.authentication-card {
    width: 40%;
    min-width: 300px;
    min-height: 650px;
    padding-top: 1%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    margin: 1% auto auto;
    border: 1.5px solid #008000;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
}

.idea-field {
    padding-top: 3%;
    width: 87%;
}

.grid-tile-field {
    width: 45%;
    min-width: 260px;
}

.description-field {
    width: 87%;
}

.submit-event-register-button {
    width: 15%;
    min-width: 100px;
    margin-left: 25%;
    background-color: #008000;
    color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
}
