.register-form-field {
    width: 60%;
    max-width: 60%;
}

.registrationBtnBtn {
    background-color: #008000;
    color: #ffffff;
}

.register-btn {
    position: absolute;
    right: 0;
    padding-right: 20%;
    color: #008000;
}
