<mat-card class="registration-class">
    <mat-card-title>Summer Good Deeds</mat-card-title>
    <mat-card-subtitle>Registration</mat-card-subtitle>
    <div class="registration-fields">
        <form (ngSubmit)="registerUser()" [formGroup]="registerForm">
            <div class="registration-form-field">
                <mat-form-field appearance="outline" class="register-form-field">
                    <mat-label>First name</mat-label>
                    <input formControlName="name" matInput placeholder="" required maxlength="20" />
                    <mat-hint>Max 20 characters</mat-hint>
                    <mat-error *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched">
                        <mat-error *ngIf="registerForm.controls['name'].hasError('whitespace')">
                            Please enter valid First name
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['name'].hasError('maxlength')">
                            First name cannot be longer than 20 characters
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="registration-form-field">
                <mat-form-field appearance="outline" class="register-form-field">
                    <mat-label>Surname</mat-label>
                    <input formControlName="surname" matInput placeholder="" required maxlength="32" />
                    <mat-hint>Max 32 characters</mat-hint>
                    <mat-error
                        *ngIf="registerForm.controls['surname'].invalid && registerForm.controls['surname'].touched"
                    >
                        <mat-error *ngIf="registerForm.controls['surname'].hasError('whitespace')">
                            Please enter valid Surname
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['surname'].hasError('maxlength')">
                            Surname cannot be longer than 32 characters
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="registration-form-field">
                <mat-form-field appearance="outline" class="register-form-field">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="" required maxlength="32" />
                    <mat-hint>Max 32 characters</mat-hint>
                    <mat-error *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
                        <mat-error
                            *ngIf="
                                registerForm.controls['email'].hasError('whitespace') ||
                                registerForm.controls['email'].hasError('email')
                            "
                        >
                            Please enter valid email
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['email'].hasError('maxlength')">
                            Email cannot be longer than 32 characters
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="registration-form-field">
                <mat-form-field appearance="outline" class="register-form-field">
                    <mat-label>Region</mat-label>
                    <mat-select formControlName="region" required>
                        <mat-option *ngFor="let region of regions" [value]="region">
                            {{ region }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Select from a list</mat-hint>
                    <mat-error
                        *ngIf="registerForm.controls['region'].invalid && registerForm.controls['region'].touched"
                    >
                        <mat-error *ngIf="registerForm.controls['region'].hasError('whitespace')">
                            Region cannot be empty
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['region'].hasError('maxlength')">
                            Region cannot be longer than 64 characters
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="registration-form-field">
                <mat-form-field appearance="outline" class="register-form-field">
                    <mat-label>Password</mat-label>
                    <input
                        formControlName="password"
                        matInput
                        placeholder=""
                        type="password"
                        minlength="7"
                        required
                        maxlength="32"
                    />
                    <mat-hint>Max 32 characters</mat-hint>
                    <mat-error
                        *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched"
                    >
                        <mat-error *ngIf="registerForm.controls['password'].hasError('whitespace')">
                            Please enter valid password
                        </mat-error>
                        <mat-error
                            *ngIf="
                                registerForm.controls['password'].hasError('maxlength') ||
                                registerForm.controls['password'].hasError('minlength')
                            "
                        >
                            Password must be 7-32 characters long
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="registration-form-field">
                <mat-form-field appearance="outline" class="register-form-field">
                    <mat-label>Repeat password</mat-label>
                    <input
                        formControlName="passwordRepeat"
                        matInput
                        placeholder=""
                        type="password"
                        minlength="7"
                        required
                        maxlength="32"
                    />
                    <mat-hint>Max 32 characters</mat-hint>
                    <mat-error
                        *ngIf="
                            registerForm.controls['passwordRepeat'].invalid &&
                            registerForm.controls['passwordRepeat'].touched
                        "
                    >
                        <mat-error *ngIf="registerForm.controls['passwordRepeat'].hasError('whitespace')">
                            Please enter valid password
                        </mat-error>
                        <mat-error
                            *ngIf="
                                registerForm.controls['passwordRepeat'].hasError('maxlength') ||
                                registerForm.controls['password'].hasError('minlength')
                            "
                        >
                            Password must be 7-32 characters long
                        </mat-error>
                        <mat-error *ngIf="registerForm.controls['passwordRepeat'].hasError('mustMatch')">
                            Passwords do not match
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-card-actions class="register-btn">
                <button [disabled]="!registerForm.valid" mat-raised-button>Create user</button>
            </mat-card-actions>
        </form>
    </div>
</mat-card>
