<p class="title">LOGIN</p>
<mat-card class="authentication-card">
    <div class="login-fields">
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <div class="login-field">
                <mat-form-field appearance="outline" class="mat-login-field">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" />
                    <mat-error *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')">
                        Email field required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="login-field">
                <mat-form-field appearance="outline" class="mat-login-field">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" />
                    <mat-error
                        *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')"
                        class="alert-danger alert"
                    >
                        Password field required
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <div class="create-account-btn">
                    <button [disabled]="loginForm.invalid" (click)="submitForm()" mat-raised-button>Login</button>
                </div>
            </div>
        </form>
    </div>
</mat-card>
