.create-div {
    width: 90%;
    margin: 2% auto;
    display: flex;
}

.create-job {
    padding: 5px 10px;
    background-color: #FFC107;
    color: #FFFFFF;
    font-weight: bolder;
}

.table-container {
    width: 90%;
    margin: 2% auto;
    text-align: left;
}

.mat-row {
    padding: 1% 0;
}

.detail-row:not(.expanded-row) {
    padding: 0;
}

.detail-row, .expanded-row {
  #imagecurtain{
    transform: rotate(90deg);
  }
}

.mat-footer-row,
.mat-row {
    min-height: 0;
}

.element-row:not(.expanded-row):hover {
    background: #d5ffd1;
}

.element-row:not(.expanded-row):active {
    background: #9eef99;
}

.element-row {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.element-description {
    width: 100%;
    padding: 16px;
    text-align: left;
    word-break: break-all;
}

.mat-column-organisation {
    flex: 0 0 25%;
    word-break: break-all;
}

.mat-column-idea {
    padding: 0 2%;
    flex: 0 0 25%;
    word-break: break-all;
}

.mat-column-region {
    padding: 0 2%;
}

.mat-column-join {
    padding: 0 2%;
    flex: 0 0 8%;
}

.mat-column-expand {
    flex: 0 0 3%;
}

.join {
    margin: 4px 0;
}

.expand-icon:hover {
    cursor: pointer;
}

.spinner-container {
    margin: 5% 0;
}

mat-header-row {
  background-color: #4CAF50;
}

mat-header-cell {
  color: #FFFFFF;
  font-weight: bold;
  font-size: medium;
}

.title {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: inherit;
  margin: 0;
}

.title-desc {
  font-family: 'Raleway', sans-serif;
}

img {
  width: 30%;
  height: 30%;
}

.table-button:hover, .join:hover {
  background-color: #FFC107;
  color: #FFFFFF;
}
