.create-div {
    width: 90%;
    margin: 2% auto;
    display: flex;
}

.create-job {
    padding: 5px 10px;
    background-color: #ffc107;
    color: #ffffff;
    font-weight: bolder;
}

.table-container {
    width: 90%;
    margin: 2% auto;
    text-align: left;
}

.mat-row {
    padding: 1% 0;
}

.detail-row:not(.expanded-row) {
    padding: 0;
}

.detail-row,
.expanded-row {
    #imagecurtain {
        transform: rotate(90deg);
    }
}

#imagecurtain {
    width: 16px;
    height: 16px;
}

.mat-footer-row,
.mat-row {
    min-height: 0;
}

.element-row:not(.expanded-row):hover {
    background: #d5ffd1;
    .join:disabled {
        background: #d5ffd1;
    }
}

.element-row:not(.expanded-row):active {
    background: #9eef99;
    .join:disabled {
        background: #9eef99;
    }
}

.element-row {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.element-description {
    font-size: 120%;
    width: 50%;
    padding: 16px 16px 30px 50px;
    text-align: left;
    word-break: break-word;
}

.contact-person {
    word-break: break-word;
}

.mat-column-organisation {
    flex: 0 0 20%;
    padding-right: 10px;
    word-break: break-word;
}

.mat-column-region {
    padding: 0 2%;
}

.mat-column-category {
    padding: 0 2%;
}

.mat-column-date {
    padding: 0 2%;
}

.mat-column-join {
    padding: 0 2%;
    flex: 0 0 100px;
}

.mat-column-expand {
    flex: 0 0 3%;
}

.join {
    margin: 4px 0;
}

.expand-icon:hover {
    cursor: pointer;
}

mat-header-row {
    background-color: #4caf50;
}

mat-header-cell {
    color: #ffffff;
    font-weight: bold;
    font-size: medium;
}

.title {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: inherit;
    margin: 0;
}

.title-desc {
    font-family: 'Raleway', sans-serif;
}

img {
    width: 30%;
    height: 30%;
}

.table-button:hover,
.join:hover {
    background-color: #ffc107;
    color: #ffffff;
}

.join:disabled {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.38);
}

@media only screen and (min-width: 1240px) {
    #extra-in-description {
        display: none;
    }
    .mat-column-idea {
        padding: 0 2%;
        flex: 0 0 30%;
        word-break: break-word;
    }
}

@media only screen and (max-width: 900px) {
    .element-description {
        width: 100%;
        padding: 16px 16px 30px 16px;
    }
    .mat-column-expand {
        padding: 0 10px;
    }
    .mat-column-idea {
        padding-right: 10px;
        word-break: break-word;
    }
    .mat-row {
        min-height: 20px;
    }
    .mat-row {
        padding: 2% 0;
    }
    .mat-footer-row,
    .mat-row {
        min-height: 0;
    }
}

@media only screen and (min-width: 900px) {
    .mat-column-idea {
        flex: 0 0 30%;
        padding-right: 10px;
        word-break: break-word;
    }
}
