<div style="text-align:center" id="HomePageInfo">
  <br>
  <iframe id="video" width="784" height="441" src="https://www.youtube.com/embed/Mxz9pmsHfgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <mat-divider></mat-divider>
  <h4>How?</h4>
  <p> some text</p>
  <mat-divider></mat-divider>
  <h4>Where?</h4>
  <p> some text</p>
  <mat-divider></mat-divider>
  <h4>When?</h4>
  <p> some text</p>
  <mat-divider></mat-divider>


</div>
