mat-list-item {
  text-align: center;
}
mat-divider {
  margin-left: 35px;
  margin-right: 35px;
}
#HomePageInfo {
  background-color:  #e1e8f0;
}

.video {
  background-color: black;
}

#DeedsVideo {
  background-color: dimgrey;
  padding: 5% 5% 5% 5%;
}
h4 {
  padding: 0 20% 0 20%;
  font-size: 150%;
}
