<div id="HomePageInfo">
    <div id="DeedsVideo">
        <iframe
            id="video"
            width="784"
            height="441"
            src="https://www.youtube.com/embed/Mxz9pmsHfgk"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
        ></iframe>
    </div>
    <mat-divider></mat-divider>
    <h2>HOW?</h2>
    <h4>
        This 👈👉 is money snek. 🐍🐍💰💰 Upsnek ⬆⬆🔜🔜 in 7.123 7⃣ 1⃣2⃣3⃣ snekonds 🐍🐍 or you ✋✋ will NEVER ❌❌❌❌
        get monies 💰💰 again Beware!! ✋✋❌❌ You😏😏 don't ❌❌ have much time!!🕛🕧🕐🕜🕑🕝🕝 You 😏😏 may never
        ❌❌get monies 💰💰🐍💰💰 again!!
    </h4>
    <mat-divider></mat-divider>
    <h2>WHERE?</h2>
    <h4>
        SO THEN 😂😂😂😂😂😂😂😂😂 THEN 😂😂😂😂😂😂😂😂 SO THEN DEADPOOL WALKS IN 😂😂😂😂😂😂😂😂😂😂😂😂😂 AND
        CAPTAIN AME-😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂 CAPTAIN AMERICA SAYS😂😂😂😤😤😂😂😂😂😂😂 HE SAYS 😂😂😂😂😂😂😂
        “😤LANGUAGE😤” 😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😂😤😂😂😤😂😂😂😤😤😂😤😤😤😂😂
    </h4>
    <mat-divider></mat-divider>
    <h2>WHEN?</h2>
    <h4>
        $0.86 will get you 26 ounces of table salt. A grain of salt is about 0.0000585 grams or 0.000002064 ounces.
        That's somewhere around 12,596,900 grains of salt. If you really wanted to splurge, you could spend an extra
        $0.14 to get another 1,900,000 grains to take you up to an exhilarating 14,500,000 grains of salt. Just imagine
        how much fun you could have with almost 15 million grains of salt. You could put some in your neighbor's car's
        gas tank. You could put some in your own gas tank. You could even pour some into a water bottle and drink it to
        pretend you're lost at sea and can only drink salt water. The possibilities are as endless as the number of
        grains of salt you have.
    </h4>
</div>
